---
name: Cargo Deny

on:
  pull_request:
    paths:
      - "**/Cargo.lock"
      - "**/Cargo.toml"
      - "deny.toml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979
        with:
          command: check bans licenses sources advisories
