---
name: Check Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Check for broken links
        id: lychee
        uses: lycheeverse/lychee-action@f796c8b7d468feb9b8c0a46da3fac0af6874d374
      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@e8ef132d6df98ed982188e460ebb3b5d4ef3a9cd
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
