---
name: Check Links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Check for broken links
        id: lychee
        uses: lycheeverse/lychee-action@885c65f3dc543b57c898c8099f4e08c8afd178a2
      - name: Create Issue From File
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@fca9117c27cdc29c6c4db3b86c48e4115a786710
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
