---
name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [msrv, pinned]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup MSRV Rust
        if: matrix.toolchain == 'msrv'
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: "1.80" # MSRV
      - name: Setup Pinned Rust
        if: matrix.toolchain == 'pinned'
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just test

  cargo-hack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - uses: taiki-e/install-action@a983ca795126a4be4e8a44879ac5c4c3ef66cae1
        with:
          tool: cargo-hack
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just check-features

  cargo-llvm-cov:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        id: toolchain
        with:
          components: llvm-tools-preview
      - uses: taiki-e/install-action@a983ca795126a4be4e8a44879ac5c4c3ef66cae1
        with:
          tool: cargo-llvm-cov
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Coverage
        run: just coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de
        with:
          name: ${{ steps.toolchain.outputs.rustc-version }}
          files: target/coverage/lcov.info
          use_oidc: true
          fail_ci_if_error: true
