---
name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version: ["1.80", "stable"]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: ${{ matrix.rust_version }}
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - uses: taiki-e/install-action@3575e532701a5fc614b0c842e4119af4cc5fd16d
        with:
          tool: cargo-llvm-cov
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          name: Rust ${{ matrix.rust_version }}
          files: target/coverage/lcov.info
          use_oidc: true
          fail_ci_if_error: true
  cargo-hack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
      - uses: taiki-e/install-action@3575e532701a5fc614b0c842e4119af4cc5fd16d
        with:
          tool: cargo-hack
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just check-features
