---
name: Test

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  cargo-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain: [msrv, pinned]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup MSRV Rust
        if: matrix.toolchain == 'msrv'
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: "1.80" # MSRV
          components: llvm-tools-preview
      - name: Setup Pinned Rust
        if: matrix.toolchain == 'pinned'
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: llvm-tools-preview
      - name: Get rustc version
        id: rustver
        shell: bash
        run: |
          echo "v=$(rustc --version | awk '{print $2}')" >> "$GITHUB_OUTPUT"

      - uses: taiki-e/install-action@3575e532701a5fc614b0c842e4119af4cc5fd16d
        with:
          tool: cargo-llvm-cov
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          name: Rust ${{ steps.rustver.outputs.v }}
          files: target/coverage/lcov.info
          use_oidc: true
          fail_ci_if_error: true
  cargo-hack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
      - uses: taiki-e/install-action@3575e532701a5fc614b0c842e4119af4cc5fd16d
        with:
          tool: cargo-hack
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff

      - name: Test
        run: just check-features
